script#publishers_side_list_template[type='text/x-document']
  side-list[v-show='!currentPublisher'
    id='publishers_side_list'
    title=(t('publishers.index'))
    any-item-label=(t('publishers.any'))

    :item-url='publisherUrl'
    :items='items'

    @select='onSelect'
    @submit:new-item='createPublisher'
  ]
