.book-fields.nested-fields
  = f.association :authors,
      collection: Author.all,
      wrapper_html: { class: 'field' },
      class: 'select'
  = f.input :title,
    input_html: {\
      data: { autocomplete: true, values: all_book_titles },\
      class: 'input'\
    }, wrapper_html: { class: 'field' }
  = link_to_remove_association f, class: 'link-to-remove-book' do
    = fa_icon 'remove'
