= render 'editions/vue_templates/selected_edition'
= render 'editions/vue_templates/selected_editions'
= render 'editions/vue_templates/selection_meta_info'
= render 'editions/vue_templates/selection_meta_info/author_info'
= render 'editions/vue_templates/selection_meta_info/publisher_info'
= render 'editions/vue_templates/selection_meta_info/series_info'
= render 'editions/vue_templates/order_select'
= render 'editions/vue_templates/side_lists/side_list'
= render 'editions/vue_templates/side_lists/authors_side_list'
= render 'editions/vue_templates/side_lists/publishers_side_list'
= render 'editions/vue_templates/side_lists/series_side_list'
= render 'editions/vue_templates/categories_tabs'
= render 'editions/vue_templates/list_pagination'
= render 'editions/vue_templates/editions_list'
= render 'editions/vue_templates/edition_form'
= render 'editions/vue_templates/edition_details/edition_authors_list'
= render 'editions/vue_templates/edition_details'
