#books_index {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 50px;
}

#book_details {
  padding-bottom: 40px;

  .book-header {
    padding: 30px;
    font-size: 30px;
    border-bottom: 1px solid #fff;

    .book-title {

    }

    .book-author {

    }
  }

  .book-details {
    padding: 20px 0;

    .book-cover {
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .book-annotation {
      padding: 0 15px;
    }
  }

  .edition-details {
    padding: 20px 0;
  }
}

#book_form {
  padding: 30px 50px 50px;
}
