#editions_list {
  position: relative;
  background-color: whitesmoke;
  $cover-width: 140px;

  .list-info {
    padding: 10px 15px 0;

    .editions-count {
      display: inline-block;
      margin-right: 10px;
    }

    .add-edition-link {
      display: inline-block;
    }

    .layout-controls {
      float: right;
    }
  }

  .editions-pagination {
    margin: 20px 0 !important;
  }

  @mixin edition-preview-cover {
    .edition-preview-cover {
      display: inline-block;
      vertical-align: top;
      width: $cover-width;
      height: 190px;
      cursor: pointer;

      img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .grid-layout-item {
    .edition {
      margin-bottom: 20px;
    }

    .edition-preview {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 15px 10px;
      vertical-align: top;
      border-radius: 2px;
      overflow: hidden;

      @include edition-preview-cover;

      &.read {
        .edition-preview-cover {
          @include read_edition_mark;
        }
      }

      .edition-preview-selection-indicator {
        z-index: 1;
        position: absolute;
        left: 5px;
        top: 5px;
        bottom: 5px;
        right: 5px;
        padding-top: 90px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        background-color: rgba(255,255,255,0.3);

        i {
          font-size: 40px;
          color: darkred;
        }
      }
    }
  }

  .list-layout-item {
    padding: 15px 10px;

    @include edition-preview-cover;

    .edition-preview-info {
      float: right;
      width: calc(100% - #{$cover-width} - 10px);

      .edition-preview-title {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 5px;
        color: #4a4a4a;
        font-weight: 500;
        font-size: 18px;
        line-height: normal;
      }

      .edition-preview-authors {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-height: 35px;
        margin-bottom: 10px;

        &, a {
          display: inline-block;
          color: #4a4a4a;
          font-size: 14px;
          line-height: normal;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .edition-preview-annotation {
        position: relative;
        padding: 0 10px;
        max-height: 150px;
        font-size: 12px;
        font-style: italic;
        white-space: pre-line;
        overflow: hidden;
        cursor: pointer;
      }
    }
  }
}
