@mixin read_edition_mark {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 15px solid darkred;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

.editions-order-link, .editions-category-link {
  &.active {
    text-decoration: underline;
    font-weight: bold;
  }
}

#edition_categories {
  margin-bottom: 0;

  li.is-disabled {
    a {
      color: darkgrey;
    }
  }
}

#order_control {
  .side-block-content {
    padding: 10px 0;
    text-align: center;
  }
}
