#editions_index {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 50px;

  .edition-preview {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-bottom: 20px;

    .edition-cover-link {
      display: inline-block;
      width: 100%;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .edit-link, .remove-link {
      color: black;
    }
  }
}

#edition_details {
  padding: 50px 30px;

  .edition-books {
    margin-bottom: 20px;
  }

  .edition-header {
    .cover {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 0%;
    }

    .info {
      display: inline-block;
      padding-left: 20px;
      vertical-align: top;
      width: calc(100% - 200px);

      .annotation {
        padding: 20px 10px;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}

#edition_form {
  padding: 30px 50px 50px;

  .book-fields {
    .link-to-remove-book {
      font-size: 24px;
    }
  }

  .edition_annotation textarea {
    max-width: 100%;
    min-height: 100px;
  }
}
