#edition_form {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #4a4a4a;

  form {
    width: 100%;
  }

  .error {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    color: red;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
  }

  .input-fields {
    overflow: auto;
    box-sizing: border-box;
    padding: 10px;

    .authors {
      text-align: center;

      .field.author {
        display: inline-block;
        width: 190px;
        vertical-align: top;
        margin: 5px;

        input {
          position: static;
          width: calc(100% - 10px);
          padding-right: 24px;
          text-align: center;
          font-family: Times New Roman;
          font-size: 16px;
          font-weight: bold;
          color: #00d1b2;
        }

        .link-remove-author {
          display: inline-block;
          width: 10px;
          color: darkgray;
          margin: 0 0 0 -24px;

          i {
            font-size: 16px;
            line-height: 36px;
          }

          &:hover {
            color: red;
          }
        }
      }

      .link-add-author {
        display: inline-block;
        vertical-align: top;
        margin: 5px;

        i {
          font-size: 16px;
          line-height: 36px;
        }
      }
    }

    .field.edition-title, .field.title {
      text-align: center;

      input {
        padding: 0;
        height: auto;
        text-align: center;
        font-family: Times New Roman;
        font-size: 32px;
        font-weight: bold;
      }
    }

    .link-add-book {
      display: block;
      width: 100%;
      padding: 5px 0 30px;
      text-align: center;

      i {
        font-size: 24px;
      }
    }

    .link-remove-book {
      float: right;
      color: darkgray;

      i {
        font-size: 16px;
      }

      &:hover {
        color: red;
      }
    }

    .field.cover-url {
      box-sizing: border-box;
      font-family: Times New Roman;
      color: #00d1b2;
    }

    .edition-info-line {
      line-height: 36px;

      .field {
        display: inline-block;
        vertical-align: top;
      }

      .field.category {
        width: 190px;

        .select {
          width: 100%;
        }
      }

      .field.publisher {
        width:190px;
        font-family: Times New Roman;
        color: #00d1b2;
      }

      input.publication-year {
        width: 70px;
        font-family: Times New Roman;
      }

      input.pages-count {
        width: 70px;
        font-family: Times New Roman;
      }
    }

    .field.annotation {
      textarea {
        padding: 20px 10px;
        font-family: Times New Roman;
        font-size: 12px;
        font-style: italic;
        white-space: pre-line;
      }
    }

    .field.isbn {
      line-height: 36px;

      input {
        width: 200px;
        font-family: Times New Roman;
      }
    }
  }

  .form-controls {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    input[type=submit] {
      float: right;
    }

    .cancel-link {
      float: left;
    }
  }

  .book-fields {
    .link-to-remove-book {
      i {
        font-size: 32px;
      }
    }
  }

  .edition_annotation textarea {
    max-width: 100%;
    min-height: 100px;
  }

  .cover {
    margin-bottom: 15px;

    img {
      display: inline-block;
      width: 130px;
      max-height: 300px;
    }

    .form-group {
      display: inline-block;
      width: calc(100% - 130px);
      vertical-align: top;
      padding-left: 15px;
    }
  }
}
