table.index-table {
  background-color: transparent;

  thead, tfoot {
    background-color: whitesmoke;
  }

  tbody {
    background-color: rgba(255,255,255,0.3);

    tr:hover {
      background-color: #7a7a7a !important;
      color: whitesmoke;

      a {
        color: whitesmoke;
      }
    }
  }
}
