body {
  background-image: image-url('skulls.png');
}

#main_content {
  min-height: 100vh;

  a {
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

#actions_bar {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 150px;

  a {
    display: block;
  }
}

#footer {
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
