body {
  background-image: image-url('skulls.png');
}

#main_content {
  min-height: 100vh;

  a {
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.side-block {
  margin-bottom: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 3px 3px 0 0;
  background-color: whitesmoke;
  overflow: hidden;

  .side-block-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 21px;
    font-weight: 200;
  }

  .side-block-content {
    padding: 0 10px;
    background-color: white;
  }
}
