#selected_edition {
  padding: 20px 0;

  .side-block-content {
    background: whitesmoke;
  }

  .selected-edition-title {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  .selected-edition-cover {
    display: block;
    width: 140px;
    margin: 0 auto 10px;
    cursor: pointer;
  }

  .selected-edition-controls {
    text-align: center;

    a {
      margin-right: 10px;

      &.close-edition-link {
        color: #4a4a4a;
      }
    }
  }

  &.read {
    .selected-edition-cover {
      @include read_edition_mark;
    }
  }
}
