#selected_editions {
  .side-block-heading {
    .actions {
      float: right;

      a {
        i {
          padding-left: 10px;
          font-size: 32px;
        }

        &.grey {
          color: #4a4a4a;
        }
      }
    }
  }

  .side-block-content {
    .selection-actions {
      border-bottom: 1px solid #dbdbdb;

      .selection-action {
        display: block;
        width: 100%;
        padding: 5px 0;
      }
    }

    .selected-editions-update-form {
      padding: 10px 0;

      .field {
        display: inline-block;
        width: 100%;
        height: 40px;

        &.selected-editions-read-status {
          $label-width: 100px;

          label {
            display: inline-block;
            width: $label-width;
            padding: 5px 0;
          }

          .select {
            display: inline-block;
            width: calc(100% - #{$label-width});

            select {
              width: 100%;
            }
          }
        }

        &.selected-editions-category {
          $label-width: 100px;

          label {
            display: inline-block;
            width: $label-width;
            padding: 5px 0;
          }

          .select {
            display: inline-block;
            width: calc(100% - #{$label-width});

            select {
              width: 100%;
            }
          }
        }

        &.selected-editions-publisher {
          $label-width: 130px;

          label {
            display: inline-block;
            width: $label-width;
            padding: 5px 0;
          }

          input {
            display: inline-block;
            width: calc(100% - #{$label-width});
          }
        }

        &.selected-editions-series {
          $label-width: 70px;

          label {
            display: inline-block;
            width: $label-width;
            padding: 5px 0;
          }

          input {
            display: inline-block;
            width: calc(100% - #{$label-width});
          }
        }
      }

      .selected-editions-updates-submit {
        input[type=submit] {
          float: right;
        }
      }
    }
  }
}
