.side-block.side-list {
  .side-block-heading {
    .actions {
      float: right;

      a {
        i {
          padding-left: 10px;
          font-size: 32px;
        }

        &.grey {
          color: #4a4a4a;
        }
      }
    }
  }

  .side-block-content {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;

    .side-list-selected-item {
      .item-label {
        display: inline-block;
        max-width: calc(100% - 20px);
        padding: 5px;
        font-weight: bold;
        color: #4a4a4a;
      }

      .link-deselect {
        float: right;
        display: inline-block;
        width: 27px;
        color: grey;
        padding: 5px;
        cursor: pointer;
      }
    }

    table {
      margin-bottom: 0;

      tr {
        td.any-item, td.list-item {
          border: none;
          padding: 0;

          a {
            display: block;
            width: 100%;
            padding: 2px 14px;
            font-size: 14px;
            color: #4a4a4a;

            .item-label {
              display: inline-block;
              width: calc(100% - 30px);
            }

            .item-editions-counter {
              display: inline-block;
              text-align: right;
              width: 30px;
              vertical-align: top;
            }
          }

          &:hover {
            background-color: #4a4a4a;

            a {
              color: whitesmoke;
            }
          }
        }

        td.no-items {
          border: none;
          padding: 0;
          padding: 2px 14px;
          font-size: 14px;
          color: #4a4a4a;
          cursor: default;
        }
      }
    }
  }

  .side-block-list-item {
    .details {
      display: none;
    }
  }
}
